
#portfolio-page h1 {
    background-color: #175073; 
    color: white; 
    padding: 2% 5%; 
    letter-spacing: 2px;
    }

#recentwork h2 {
        font-size: 1.5rem;
        margin-top: 15%; 
       margin-bottom: 3%; 
       text-align: left;
       color: #175073; 
       border-bottom: 3px solid #175073;
    }


.portfolio-headingsection > img {
    margin-bottom: 1%;
}

.portfolio-headingsection > p {
    line-height: 170%;
    font-weight: 500;
}

#music-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10%;
    margin-top: 6%; 
}

#music-mainimg {
    width: 60%; 
    height: 400px;
}

#music-rotatingimg {
    width: 35%; 
}

.portfolio-headingsection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgba(244, 244, 244, 0.5);
    border-radius: 5px;
    padding: 2%; 
}

.portfolio-projecthighlights > ul {
  list-style-type: none; 
  line-height: 170%; 
}

#imgtag-rotatingpiano {
    border: 2px solid #175073; 
}

#pagenumtag-rotatingpiano {
    text-align: right;
}

#portfolio-recentzoomin .material-symbols-outlined {
    color: white; 
    font-size: 3rem;
    position: absolute;
    top: 6%;  
    left: -2%;  
}


#portfolio-recentCatzoomin .material-symbols-outlined {
    color: white; 
    font-size: 3rem;
    position: absolute;
    top: 9%;  
    left: 0%;  
}

.portolifoUX_main{
    width: 100%; 
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}

.portfolioUX_row{
    display: flex;
    flex-direction: row;
    margin-top: 48px; 
    min-height: 400px;
}

.portfolioUX_title{
    background-color: #175073;
    color: #ffffff; 
    width: 25%; 
}

.portfolioUX_title h2{
 margin-left: 24px; 
}

.portfolioUX_info {
    width: 75%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
}

blockquote {
    padding-left: 24px; 
    padding-right: 24px;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.85); 
    font-style: italic;
}

.portfolioUX_quoteAuthor{
    padding-right: 24px;
    line-height: 240%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

figcaption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgba(242, 183, 7, 1); 
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgba(242, 183, 7, 0.5)
    ; 
    margin: 16px; 
}

figure img {
    margin: 16px;
}




@media (max-width: 1100px) {

    #music-portfolio {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 10%;
        margin-top: 6%;
    }

    #music-mainimg {
        width: 100%;
        height: 400px;
        margin-bottom: 5%;
    }

    #music-rotatingimg {
        width: 60%;
    }

}

@media (max-width: 650px) {

    #musictheorycover {
        width: 100%; 
        object-fit: contain;
    }

    .portfolio-projecthighlights > ul {
        font-size: 0.85rem;
      }

      #portfolio-page p {
        font-size: 0.85rem;
      }
      
      .portfolio-headingsection {
        flex-wrap: wrap;
    }

    .portfolio-projectinfo {
        margin-bottom: 5%;
    }


    .portfolioUX_row{
        display: flex;
        flex-direction: column;
        margin-top: 48px; 
        min-height: 400px;
    }

    .portfolioUX_title{
        width: 100%; 
        border-radius: 20px;
        margin-bottom: 24px;
        order: 1;
    }

    .portfolioUX_info {
        width: 100%;
        padding: 0px; 
        order: 2;
    }

    blockquote {
        display: none;
    }

    span {
        display: none !important; 
    }

    i {
        display: none;
    }

    .portfolioUX_quoteAuthor {
        display: none;
    }

    figure {
        border-radius: 20px;
    }

  



}

